image: zazukoians/node-java-jena
before_script:
  - npm install

# stages
stages:
- fetch
- convert

# jobs

curl_bar_job:
  stage: fetch
  script:
    - npm run get-bar
  artifacts:
    paths:
      - input/OLR-2018-02-16.tab
    expire_in: 30 minutes

convert_bar_job:
  stage: convert
  script:
    - npm run convert
    - npm run clean-bar
  artifacts:
    paths:
      - target/everything.nt
    expire_in: 1 day
  dependencies:
    - curl_bar_job
